<div class="authors-details-wrap mt-5" *ngIf="authorDetails">
    <div class="cover-background">
        <img src="https://cdn.europop.ge/510ed9b7-7465-4e75-b661-5c1a304887b5" alt="">
    </div>
    <div class="author-card d-flex">
        <div class="author-image">
            <img src="{{authorDetails.data.avatar.fileUrl}}" alt="">
            <div class="e-logo">
                <svg width="466" height="466" viewBox="0 0 466 466" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M117.677 223.171C116.556 158.386 176.403 101.198 242.302 101.198C308.201 101.198 334.426 150.121 334.426 150.121L118.125 237.691C118.125 237.691 117.901 230.989 117.901 223.171M153.092 327.272L466 200.608C453.672 83.1026 357.289 0 238.043 0C106.469 0 0 104.325 0 233C0 361.675 108.263 466 244.095 466C333.754 466 402.118 418.864 437.758 377.089L382.618 322.134L368.272 321.017C239.388 408.141 158.471 337.995 153.316 327.272" fill="currentColor"></path></svg>
            </div>
        </div>

        <div class="author-info">
            <h5>{{authorDetails.data.firstName + " " + authorDetails.data.lastName}}</h5>
            <div class="content-info d-flex align-items-center">
                <p>{{authorDetails.data.subscribersCount + " გამომწერი "}}</p>
                <pre>  |  </pre>
                <p>{{authorDetails.data.likesCount + " მოწონება"}}</p>
                <pre>  |  </pre>
                <p>{{authorDetails.data.postsCount + " სტატია"}}</p>
            </div>
        </div>

        <div class="subscribition">
            <button>გამოწერა</button>
        </div>
    </div>
    <div class="main-wrap">
        <div class="content">
            <div class="left">
                <nav class="">
                    <div class="nav nav-tabs d-flex flex-nowrap overflow-x-scroll" id="nav-tab" role="tablist">
                      <button (click)="getPosts(item.id)" *ngFor="let item of authorCategoryIds.data" class="nav-link text-nowrap text-light" id="nav-{{item.id}}-tab" data-bs-toggle="tab" attr.data-bs-target="#nav-{{item.id}}" type="button" role="tab" aria-selected="false" attr.aria-controls="nav-{{item.id}}">{{item.name}}</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-{{currentCategoryId}}" role="tabpanel" attr.aria-labelledby="nav-{{currentCategoryId}}-tab" tabindex="0">
                        <ng-container *ngIf="posts">
                            <div class="mt-4">
                                <app-europop-card *ngFor="let item of posts" [itm]="item"></app-europop-card>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="right">
                <app-europop-latest-news [header]="'home'" [endpoint]="'posts/more-latest'"></app-europop-latest-news>
            </div>
        </div>
    </div>
</div>