.category-wrap{
    width: 100%;
    max-width: 1220px;
    margin: 0px auto;
    display: flow-root;
}

.category-inner{
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.main{
    width: calc(100% - 415px);
}

.subscribe-btn{
    height: 45px;
    width: 120px;
    background-color: #F15A22;
    border: none;
    font-size: medium;
    font-weight: 600;
}

